.fileWrap{ float:left; border:1px solid #ccc; background:#eee; padding:5px; position:relative;}
.fileInput{ float:left; border:none 0px; padding:0 5px;}
.fileButton{ float:right; border:none 0px; background:#ccc; margin:0px; padding:0px;}